*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html,#root,#root > div{
    background-color: #D9EAF4;
    font-family: 'Titan One', sans-serif;
    height:100vh ;
    
}
h1{
    font-weight: 100;
}
::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #3E54B0;
}
